# Análisis Exploratiorio Tabla Accidentes

In [1]:
import os
import pyodbc
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Extracción de datos de la BD SQL Server

In [2]:
# class SQLServer:
#     def __init__(self, server_name, database_name, user_name, password):
#         self.server_name = server_name
#         self.database_name = database_name
#         self.user_name = user_name
#         self.password = password
#         self.connection_string = f'DRIVER={{SQL Server}};SERVER={self.server_name};DATABASE={self.database_name};UID={self.user_name};PWD={self.password}'
#         self.connection = pyodbc.connect(self.connection_string)

#     def query_to_dataframe(self, query):
#             df = pd.read_sql(query, self.connection)
#             return df

In [3]:
# Crea una instancia de la clase SQLServer
# sql_server = SQLServer('TVM-PAPP02-VIC', 'AnalystBi', 'ajusta', 'Holading2022*')

In [4]:
# Define la consulta
# query = 'SELECT * FROM Ajuasta_ACCIDENTES_TBL'

In [5]:
# Obtiene un dataframe de la tabla 'nombre_tabla'
# df = sql_server.query_to_dataframe(query)
# df.head()

## Importación de datos desde un Excel

In [9]:
root_ = r'C:\Users\juans'
sharepoint = r'Vicman Services S.A.S\INFORMES ANALITICA - Documentos\AJUSTA\Análisis Accidentes Ajusta'
nombre_archivo = 'Ajusta_ACCIDENTES_TBL.xlsx' 
df_fullpath = os.path.join(root_, sharepoint, nombre_archivo)

df = pd.read_excel(df_fullpath, sheet_name='ACC_COPIA')
df.head()

,Numero,Documento,Placa,Fecha_reporte,Fecha_accidente,id_compania,nm_compania,cliente_cliente,nm_cliente,nm_creado,...,revision_especial,entidad_agente,Hipotesis_agente,fehca_nac_per,modelo,dia_accidente,hora_acidente,empresas_cod,obs_hipotesis_agente,curos_hipotesis
0,4491,NaN,WTM312,2017-04-13,8/07/2016 12:00:00 a.m.,860037013,COMPAÑIA MUNDIAL DE SEGUROS S.A.,860020096,CONALCETECE,PROVISIONAL SIETE,...,NO,NaN,OTRA.,23/10/1969 12:00:00 a.m.,2005.0,VIERNES,00:00 A.M. - 05:59 A.M.,otras empresas,INVASION DE CARRIL,NaN
1,4678,NaN,TDW493,2017-04-15,28/07/2016 6:30:00 a.m.,860037013,COMPAÑIA MUNDIAL DE SEGUROS S.A.,890101933,COOCHOTAX,YIN WEI QIAHG,...,NO,NaN,DESOBEDECER SEÑALES O NORMAS DE TRÁNSITO.,2/07/1981 12:00:00 a.m.,2013.0,JUEVES,06:00 A.M. - 11:59 A.M.,otras empresas,NaN,Importancia del lenguaje vial en la conducción...
2,4693,NaN,VFA225,2017-04-13,30/08/2016 12:00:00 a.m.,860037013,COMPAÑIA MUNDIAL DE SEGUROS S.A.,800089388,TAMPA D.C. S.A.,PROVISIONAL SIETE,...,NO,NaN,DESOBEDECER SEÑALES O NORMAS DE TRÁNSITO.,NaN,2009.0,MARTES,00:00 A.M. - 05:59 A.M.,otras empresas,NaN,Importancia del lenguaje vial en la conducción...
3,5019,NaN,VFB434,2017-04-13,18/08/2016 11:00:00 p.m.,860037013,COMPAÑIA MUNDIAL DE SEGUROS S.A.,800174909,TAX EXPRESS,PROVISIONAL SIETE,...,NO,NaN,ADELANTAR CERRANDO.,10/09/1965 12:00:00 a.m.,2010.0,JUEVES,06:00 P.M. - 11:59 P.M.,otras empresas,NaN,Seguridad basada en el comportamiento - Marco...
4,5054,NaN,TKI371,2017-04-14,28/09/2016 12:05:00 p.m.,860037013,COMPAÑIA MUNDIAL DE SEGUROS S.A.,811036213,TRANSPORTES BRASIL S.A.S,JOSE LUIS PEÑALOZA JIMENEZ,...,NO,NaN,SIN HIPÓTESIS,3/08/1966 12:00:00 a.m.,2008.0,MIERCOLES,12:00 P.M. - 05:59 P.M.,otras empresas,NaN,NaN

## Análisis Exploratorio

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69921 entries, 0 to 69920
Data columns (total 40 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Numero                69921 non-null  int64
 1   Documento             2013 non-null   float64
 2   Placa                 69921 non-null  object
 3   Fecha_reporte         69921 non-null  datetime64[ns]
 4   Fecha_accidente       69921 non-null  object
 5   id_compania           69921 non-null  int64
 6   nm_compania           69921 non-null  object
 7   cliente_cliente       69921 non-null  int64
 8   nm_cliente            69921 non-null  object
 9   nm_creado             69918 non-null  object
 10  tipo_accidente        69919 non-null  object
 11  nm_ciudad             69921 non-null  object
 12  nm_departamento       69921 non-null  object
 13  id_conductor          69249 non-null  float64
 14  nm_conductor          69116 non-null  object
 15  poliza_rcc            6731 non-null   object
 16  poliza_rce            63897 non-null  object
 17  poliza_rcce           10 non-null     float64
 18  poliza_rcee           16 non-null     object
 19  poliza_tr             1038 non-null   object
 20  poliza_plo            9 non-null      object
 21  poliza_ip             0 non-null      float64
 22  poliza_tercero        13 non-null     float64
 23  valor_reserva         69095 non-null  float64
 24  valor_reserva_actual  69095 non-null  float64
 25  todo_riesgo           69921 non-null  object
 26  tipo_servicio         68840 non-null  object
 27  nombre_agente         1998 non-null   object
 28  grado_agemte          2485 non-null   object
 29  placa_agente          2531 non-null   object
 30  revision_especial     69921 non-null  object
 31  entidad_agente        1963 non-null   object
 32  Hipotesis_agente      69921 non-null  object
 33  fehca_nac_per         60891 non-null  object
 34  modelo                68511 non-null  float64
 35  dia_accidente         69921 non-null  object
 36  hora_acidente         69921 non-null  object
 37  empresas_cod          69921 non-null  object
 38  obs_hipotesis_agente  8414 non-null   object
 39  curos_hipotesis       31956 non-null  object
dtypes: datetime64[ns](1), float64(8), int64(3), object(28)
memory usage: 21.3+ MB

In [11]:
df.describe()

,Numero,Documento,id_compania,cliente_cliente,id_conductor,poliza_rcce,poliza_ip,poliza_tercero,valor_reserva,valor_reserva_actual,modelo
count,69921.000000,2.013000e+03,69921.0,6.992100e+04,6.924900e+04,1.000000e+01,0.0,1.300000e+01,6.909500e+04,6.909500e+04,68511.000000
mean,134340.817136,6.303384e+08,860037013.0,1.448821e+09,1.042362e+11,1.800056e+09,NaN,3.957410e+08,1.586410e+06,1.119698e+06,2023.513085
std,20897.426956,6.823046e+08,0.0,3.407213e+09,4.354151e+12,6.324752e+08,NaN,7.121175e+08,5.107594e+06,8.247284e+06,531.808262
min,111.000000,0.000000e+00,860037013.0,7.144500e+06,-1.000000e+06,0.000000e+00,NaN,1.040032e+08,0.000000e+00,0.000000e+00,0.000000
25%,116915.000000,7.176300e+07,860037013.0,8.600259e+08,1.949509e+07,2.000018e+09,NaN,1.040037e+08,0.000000e+00,0.000000e+00,2008.000000
50%,134589.000000,1.014273e+09,860037013.0,8.909093e+08,7.982006e+07,2.000026e+09,NaN,1.040057e+08,5.929320e+05,0.000000e+00,2012.000000
75%,152252.000000,1.067859e+09,860037013.0,9.003657e+08,1.017202e+09,2.000068e+09,NaN,1.040092e+08,1.763818e+06,4.576145e+05,2015.000000
max,169919.000000,1.078757e+10,860037013.0,9.003657e+10,7.278495e+14,2.000256e+09,NaN,2.000286e+09,4.679760e+08,1.066713e+09,22013.000000